{% extends 'base.html'%}


{% block container %}
<div class="col">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <div form="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div form="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>        
</div>
{% endblock %}   